body {
    background-color: whitesmoke;
    color: rgb(106, 154, 106);
}

.choice-container {
    display: flex;
    margin-bottom: 0.9rem;
    width: 100;
    border-radius: 3px;
    background-color: yellow;
    font-size: 3rem;
    min-width: 88rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 green;
    transform: scale(1.05);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 3rem;
    color: black;
}

.choice-text {
    padding: 2rem;
    width: 75%;
    color: black;
}

.correct {
    background: linear-gradient(32deg, rgb(187, 255, 187));
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid white;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: white;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30rem;
    }
}